doctype html
html(lang='pt-BR')
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Sociologia
    link(rel='stylesheet' href='./node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='./node_modules/@fortawesome/fontawesome-free/css/all.min.css')
           //-link(rel='stylesheet' href='./master.sass')
    link(rel="stylesheet" href="css/colors.css")
    link(rel="stylesheet" href="css/effects.css")
    link(rel="stylesheet" href="css/header.css")
    link(rel="shortcut icon" href="./logo.png" type="image/x-icon")
    block head
body
  div.d-flex.flex-column.align-items-center.master-container
    header.d-flex.flex-row-reverse.mt-2.flex-direction-center.justify-content-center.container-fluid
      nav.navbar.navbarSup.container-fluid
        div.container-fluid
          div.navbar-header
            i.navbar-toggle.collapsed.fas.fa-bars(
              data-toggle="collapse"
              data-target="#alignment"
              aria-expanded="false")
          div.d-flex.justify-content-center.logo
            img(
              src="logo.png"
              width="250px"
              height="175px")
          div
          div.collapse.navbar-collapse(id="alignment")
            hr.w-75
            ul.nav.navbar-nav.d-flex.flex-row.justify-content-center
              li.mr-4
                a(href="./index.html") Página Inicial
              li.mr-4
                a(href="./pages/about.html") Sobre nós
              li.mr-4
                a(href="./pages/feed.html") Feed de Notícias
              li.mr-4
                a(href="./pages/report.html") Reportar Caso
              li.mr-4
                a(href="./pages/statistics.html") Estatisticas

    block content

  script(src='./node_modules/jquery/dist/jquery.slim.min.js')
  script(src='./node_modules/popper.js/dist/popper.min.js')
  script(src='./node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src='./node_modules/handlebars/dist/handlebars.min.js')

  script(src='./master.ts')
